<div class="ui four item tabs menu">
    <a routerLink="home" routerLinkActive="active" class="item">Home</a>
    <a routerLink="lists" routerLinkActive="active" class="item">Listen</a>
    <a routerLink="todos" routerLinkActive="active" class="item">Todos</a>
    <a routerLink="tags" routerLinkActive="active" class="item">Tag</a>
</div>
<div class="ui {{isLoggedIn() ? 'four' : 'one'}} item tabs menu">
    <a routerLink="login" routerLinkActive="active" class="item">{{getLoginLabel()}}</a>
    @if(isLoggedIn()){
        <a routerLink="admin" routerLinkActive="active" class="item">Listen neu erstellen</a>
        <a routerLink="todosform" routerLinkActive="active" class="item">Todos neu erstellen</a>
        <a routerLink="tagform" routerLinkActive="active" class="item">Tag neu erstellen</a>
    }
</div>

<div class="ui container">
    <!--Das hier wird immer ausgetauscht-->
    <router-outlet></router-outlet>
</div>


