@if(tag){
    <div class="content">
        <div class="ui teal tag label">{{tag.name}}</div>      
        <br>    
        <br>
        <button [routerLink]="'/tags'" class="ui tiny gray button">Zurück zu den Tags</button>
        @if(authService.isLoggedIn()){
            <button class="ui tiny red labeled icon button" (click)="removeTag()">
                <i class="remove icon"></i>
                Tag Löschen
            </button>
            <a class="ui tiny yellow labeled icon button" [routerLink]="['../../tagform', tag.id]">
                <i class="edit icon"></i>
                Tag bearbeiten
            </a>
        }
    </div>
}