@if(list){
    @if(list.isPublic || authService.isLoggedIn()){
        <div class="content">
            <div class="header"><h1>{{list.name}}</h1></div>
            <br>
            <div class="metadata">
            @if(list.notes !== undefined && list.notes.length !== 0){
                <h3>Notizen:</h3>
            }
            @for(note of list.notes; track note){
                

                <div class="ui segment">
                    <div><b>{{ note.title }}</b></div>
                    <div>{{ note.description }}</div>
                    @if(note.tags){
                        @for(tag of note.tags; track tag){
                            <div class="ui teal tag label">{{ tag.name }}</div>
                            <br><br>
                        }
                    }
                    @if(note.image){
                        <img class="ui small image" [src]="note.image">
                    }
                    @if(note.todos !== undefined && note.todos.length !== 0){
                        <h5>Todos:</h5>
                    }
                    <div class="metadata">
                        @for(todo of todos; track todo){
                            @if(todo.note_id === note.id){
                            <div>
                                    <div class="ui blue horizontal label">{{ todo.title }}</div>
                                    <div>{{ todo.description }}</div><br>
                                    <div class="ui image label">
                                        <i class="calendar icon"></i>
                                        <span>{{todo.dueDate}}</span>
                                        <div class="detail">fällig</div>
                                    </div>
                                    <br><br>
                                    @if(todo.user_id){
                                        <div>
                                            @for(user of users; track user){
                                                @if(user.id === todo.user_id){
                                                    <div class="ui image label">
                                                        <i class="user icon"></i>
                                                        <span>{{user.username}}</span>
                                                        <div class="detail">verantwortlich</div>
                                                    </div>
                                                }
                                            }
                                        
                                        </div>      
                                    }
                                    @if(todo.tags){
                                        <br>
                                        @for(tag of todo.tags; track tag){
                                            <div class="ui teal tag label">{{ tag.name }}</div>
                                            <br>
                                        }
                                    }
                                    @if(todo.image){
                                        <br>
                                        <img class="ui small image" [src]="todo.image">
                                    }
                                    
                                    @if(authService.isLoggedIn()){
                                        <br>                                
                                        <a class="ui tiny yellow labeled icon button" [routerLink]="['../../todosform', todo.id]">
                                            <i class="edit icon"></i>
                                            Todo bearbeiten
                                        </a>
                                        <button class="ui tiny red labeled icon button" (click)="deleteTodo(todo.id)"><i class="remove icon"></i> Todo löschen</button>
                                        <br>
                                    }
                                    <br>
                            </div> 
                            <hr>
                            <br>
                            }                       
                        }
                    </div>
                    <br>
                    @if(authService.isLoggedIn()){
                        <button class="ui tiny red labeled icon button" (click)="deleteNote(note.id)"><i class="remove icon"></i> Notiz löschen</button>
                    }

                </div>
                
            }
            </div>
        
        </div>
        <br>
        <button [routerLink]="'/lists'" class="ui tiny gray button">Zurück zur Liste</button>
        @if(authService.isLoggedIn()){
            <button class="ui tiny red labeled icon button" (click)="removeList()">
                <i class="remove icon"></i>
                Liste Löschen
            </button>
            <a class="ui tiny yellow labeled icon button" [routerLink]="['../../admin', list.id]">
                <i class="edit icon"></i>
                Liste bearbeiten
            </a>
        }
    }@else{
        <div>Bitte melde dich an um den Inhalt zu sehen!</div>
        <button [routerLink]="'/login'" class="ui red button">Zum Login</button>
    }

}
